<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="sign-up">
    <div id="signup-form">
        <p>Sign up Form</p>
        <input id="firstname" type="text" placeholder="firstname">
        <input id="lastname" type="text" placeholder="lastname">
        <input id="username" type="text" placeholder="username">
        <input id="password" type="password" placeholder="password">
        <input id="gender" type="text" placeholder="gender">
        <button onclick="createNewUser(users)">Sign Up</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</body>
</html>